#table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:400px;
    overflow: scroll;
    margin-top:20px;
  }
  #tblThead .header-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .table-scroll {
    height:400px;
    overflow: scroll;
    margin-top:20px;
  }
  .tblThead .header-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  tbody #tblThead {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }

   .table-info {
    position: sticky;
    right: 0%;
    color: rgb(31, 31, 32);
    top: 0px;

  }
.header-title{
  /* position: fixed!important; */
    right: 0%;
    color: rgb(31, 31, 32);
    top: 0px;
}

  #th-action{
    z-index:1;
  }
  .th-a{
    color: rgb(31, 31, 32);
  }
  .MYsearchBar{
    position:sticky;
    left:0px;
    
  }
  #userSearchBar{
    left:0;
  }

  #tblUsers th,td{
    white-space: nowrap;
  }
 
  #table-wrapper table {
    width:100%;
  
  }

  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }

  #gradetable-wrapper {
    position:relative;
  }
  
  #gradetable-scroll {
    height:400px;
    overflow: scroll;
    margin-top:20px;
  }