*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
  }
  .toast-container {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    display: grid;
    justify-items: end;
    gap: 1.5rem;
  }

  /* Prep code */
  .xtcontainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    place-content: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fffffe;
  }
  
 
  
  .success {
    background-color: hsl(171 100% 46.1%);
    color: hsl(171 100% 13.1%);
    box-shadow: 10px 10px hsl(171 100% 13.1%);
  }
  
  .warning {
    background-color: hsl(350 100% 66.5%);
    color: hsl(350 100% 13.5%);
    box-shadow: 10px 10px hsl(350 100% 13.5%);
  }
  
  .info {
    background-color: hsl(51 97.8% 65.1%);
    color: hsl(51 97.8% 12.1%);
    box-shadow: 10px 10px hsl(51 97.8% 12.1%);
  }